<meta charset='utf-8'>
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<meta name="description" content="Rust and Cargo plugins for Gradle">

<link rel="stylesheet" type="text/css" media="screen" href="stylesheets/github.css">

<title>Rust and Cargo Gradle Plugins</title>
